In [1]:
import pandas as pd
# import module as mod
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np
from logging import exception
import joblib as jl
from mod_jo import *
from dotenv import dotenv_values

In [2]:
get_auteur_id_by_name2('ferdinand')

error at get_auteur_id_by_name(ferdinand) //  'NoneType' object has no attribute 'fetchone'

In [31]:

df=pd.DataFrame(get_all_auteur())
df = df.set_index(0).iloc[:,:1]

# df.rename_axis(columns=['auteur'])
df.rename(columns = {1:'auteur'}, inplace = True)

In [11]:
from collections import defaultdict
nlist=defaultdict(list)
for i, aut in get_all_auteur():
    nlist[aut] = i

In [43]:
dbc = Database(USER, PASSWORD, HOST, DB_NAME)
mySql_research = f"""SELECT m.nom, m.ville, m.geoloc, a.nom, o.nom, o.domaine, o.musee
                    FROM musee m 
                    JOIN oeuvre o ON  o.musee = m.id
                    JOIN art_oeuv ao ON ao.oeuvre = o.id
                    JOIN artiste a ON a.id = ao.artiste
                    WHERE a.nom LIKE CONCAT('%',%s,'%') 
                    """
# df = pd.read_sql(sql=mySql_research, con=dbc.connection(), params=artiste)
response = dbc.query(mySql_research,['picasso'])
dbc.close()
df1 = pd.DataFrame(response,columns=['m_nom', 'ville', 'geoloc', 'a_nom', 'o_nom', 'domaine', 'musee'])
df1

,m_nom,ville,geoloc,a_nom,o_nom,domaine,musee
0,musée Condé,Chantilly,"44.204302,0.648652",picasso matteo,"LA PRINCESSE MARIE D'ORLEANS (1813-1839), FUTU...",dessin,M5052
1,musée Condé,Chantilly,"44.204302,0.648652",picasso matteo,La princesse Louise-Marie d'Orléans (1812-1850...,dessin,M5052
2,musée Condé,Chantilly,"44.204302,0.648652",picasso matteo,CHARLES FELIX ROI DE SARDAIGNE (MORT EN 1831),dessin,M5052
3,musée Condé,Chantilly,"44.204302,0.648652",picasso matteo,MARIE-CHRISTINE REINE DE SARDAIGNE,dessin,M5052
4,musée Condé,Chantilly,"44.204302,0.648652",picasso matteo,Marie-Christine reine de Sardaigne,dessin,M5052
...,...,...,...,...,...,...,...
5056,musée Picasso,Paris,"48.8597,2.362644",ruiz-picasso pablo,Baiser,sculpture,M5043
5057,musée Picasso,Paris,"48.8597,2.362644",ruiz-picasso pablo,Têtes de mouton,dessin,M5043
5058,musée Picasso,Paris,"48.8597,2.362644",ruiz-picasso pablo,Portrait de Madame Rosenberg et sa fille,peinture,M5043
5059,musée d'art contemporain du Val-de-Marne,Vitry-sur-Seine,"48.792821,2.387072",ruiz-picasso pablo (patronyme),La colombe à l'arc-en-ciel,estampe,M0431
5060,musée d'art contemporain du Val-de-Marne,Vitry-sur-Seine,"48.792821,2.387072",ruiz-picasso pablo (patronyme),La colombe de l'avenir ou Les armes à la féraille,estampe,M0431

[]

In [34]:
mySql_research = f"SELECT a.nom, a.id FROM artiste a WHERE a.nom LIKE '%picasso%'"
dbc = Database(USER, PASSWORD, HOST, DB_NAME)
response = dbc.query(mySql_research)
dbc.close()
response

[('picasso matteo', 25059),
 ('picasso pablo', 26000),
 ('picasso pablo (1881-1973)', 44511),
 ('picasso pablo (auteur)', 34142),
 ("picasso pablo (d'après)", 22662),
 ('picasso pablo (dessinateur)', 42674),
 ("picasso pablo (dit, d'après)", 43826),
 ('picasso pablo (dit)', 22779),
 ('picasso pablo (illustrateur)', 8951),
 ('picasso pablo (lithographe)', 35962),
 ("picasso pablo (peintre, d'après)", 54949),
 ('picasso pablo (peintre)', 40307),
 ('picasso, pablo (dessinateur)', 58631),
 ('ruiz-picasso pablo', 40989),
 ('ruiz-picasso pablo (patronyme)', 68479)]

In [21]:
dbc = Database(USER, PASSWORD, HOST, DB_NAME)
mySql_research = f"""SELECT m.nom, m.ville, m.geoloc, a.nom, o.nom, o.domaine, o.musee
                    FROM musee m 
                    JOIN oeuvre o ON  o.musee = m.id
                    JOIN art_oeuv ao ON ao.oeuvre = o.id
                    JOIN artiste a ON a.id = ao.artiste
                    WHERE a.nom LIKE CONCAT('%', %s,'%')"""

df = pd.read_sql(sql=mySql_research, con=dbc.connection(), params='artiste')
dbc.close()

DatabaseError: Execution failed on sql 'SELECT m.nom, m.ville, m.geoloc, a.nom, o.nom, o.domaine, o.musee
                    FROM musee m
                    JOIN oeuvre o ON  o.musee = m.id
                    JOIN art_oeuv ao ON ao.oeuvre = o.id
                    JOIN artiste a ON a.id = ao.artiste
                    WHERE a.nom LIKE '%' %s '%')': Not all parameters were used in the SQL statement

In [20]:
nlist['Picasso']

[]

In [8]:
mydict = {'george': 16, 'amber': 19}
print(list(mydict.keys())[list(mydict.values()).index(16)])

george

In [2]:
get_all_auteur()

[(2, ''),
 (47538, '?'),
 (30678, "?  (copie d'après)"),
 (24009, "?  (d'après)"),
 (22203, "? (d'après)"),
 (1303, '???'),
 (49302, '?)'),
 (46965, '"patronenfabrik" "karlsruhe"'),
 (11224,
  '"s.o.m.u.a sté d\'outillage mécanique et d\'usinage d\'artillerie, 19 avenue de la gare st-ouen" 1930'),
 (62312, '«\xa0haeredes pauli\xa0»'),
 (17117, '(?)'),
 (49644, '(atelier, genre de)'),
 (10448, '(attribué à)'),
 (54177, '(cartographe)'),
 (45485, '(concepteur)'),
 (35127, "(d'après, dessinateur, éditeur)"),
 (67576, "(d'après)"),
 (22777, "(d'après) le baroche (d'après, dit)"),
 (41695, '(dessinateur, graveur)'),
 (36471, '(dessinateur)'),
 (24334, '(dit)'),
 (49217, '(éditeur)'),
 (66791, '(enlumineur)'),
 (13067, '(graveur)'),
 (20728, '(illustrateur)'),
 (59178, '(imprimeur, éditeur)'),
 (43598, '(imprimeur, lithographe)'),
 (56769, '(imprimeur)'),
 (12197, '(manufacture)'),
 (46384, '(médailleur)'),
 (45873, '(peintre)'),
 (55315, '(sculpteur)'),
 (1686, '(sic , dit)'),
 (68164, '(style de)'),
 (27852, ')'),
 (58229, "27e regiment d'infanterie (émetteur)"),
 (18929, '3 f (promoteur immobilier)'),
 (57010, 'a (anonyme)'),
 (27703, 'a (atelier)'),
 (40860, 'a (auteur)'),
 (32793, 'a a (éditeur)'),
 (65397, 'a b'),
 (942, 'a b (?)'),
 (53531, "a b (dessinateur, d'après)"),
 (14462, 'a b (éditeur)'),
 (9125, 'a b (imprimeur)'),
 (8693, 'a b (photographe)'),
 (3144, 'a b & cie'),
 (50156, 'a b & cie  (photographe)'),
 (52793, 'a b & cie (éditeur)'),
 (49507, 'a b & cie (imprimeur)'),
 (63937, 'a b & cie (photographe)'),
 (27096, 'a b r (?)'),
 (25193, 'a c (orfèvre)'),
 (67060, 'a c (photographe)'),
 (65828, 'a c m'),
 (31270, 'a d'),
 (47827, 'a d (lithographe)'),
 (61540, 'a d c'),
 (3706, 'a d i a'),
 (30727, 'a d i a (photochromie)'),
 (34009, 'a d t (fabricant)'),
 (57993, 'a f (dessinateur)'),
 (497, 'a f b d (manufacture)'),
 (13659, 'a f v'),
 (58798, 'a g'),
 (15029, 'a g (graveur)'),
 (67781, 'a g f (graveur)'),
 (42643, 'a h'),
 (32197, 'a h (éditeur)'),
 (26225, 'a h & cie (fabricant)'),
 (54016, 'a haghi en nagato toyonobou (auteur)'),
 (54009, 'a l'),
 (63118, 'a l (?)'),
 (20440, 'a l paris (éditeur)'),
 (4842, "a l'image notre dame (marchand)"),
 (34386, 'a la civette (éditeur)'),
 (40682, 'a la menagere (éditeur)'),
 (40713, 'a m (dessinateur)'),
 (42754, 'a m (photographe)'),
 (21847, 'a m b'),
 (35197, 'a m b (photographe)'),
 (45611, 'a m i e'),
 (66148, 'a n'),
 (66521, 'a o (photographe)'),
 (56361, 'a o t (créateur)'),
 (10036, 'a p'),
 (9719, 'a p ( )'),
 (17433, "a p (d'après, peintre)"),
 (23446, 'a p (éditeur)'),
 (63459, 'a p a (imprimeur)'),
 (32857, 'a p m'),
 (39787, "a pas d'anges (atelier)"),
 (44664, 'a r (éditeur)'),
 (12547, "a s (d'après)"),
 (10355, 'a s & f armand schow & frères (fabricant)'),
 (19742, 'a t a m (éditeur)'),
 (13445, 'a t c (fabricant)'),
 (34048, 'a v'),
 (45555, 'a v l (céramiste)'),
 (1575, 'a w'),
 (26195, 'a y e f'),
 (37028, 'a. b.   (dessinateur)'),
 (18691, 'a. bord et cie'),
 (66584, 'a. duseaux & cie (fabricant)'),
 (39397, 'a. guillod-marais & cie'),
 (18599, 'a. lecomte et cie'),
 (26495, 'a. rivet'),
 (47767, 'a. toutoy fils'),
 (31550, 'a.c.'),
 (13046, 'a.d. (graveur)'),
 (21774, 'a.g. (dessinateur)'),
 (50049, 'a.g. (éditeur)'),
 (27422, 'a.k. (c.abel-klinger) (fabricant)'),
 (36967, 'a.m'),
 (56023, 'a.m.t., ancienne maison turquetil (manufacture)'),
 (58212, 'a.o. (graveur)'),
 (4807, 'aa pieter boudewyn van der'),
 (59740, 'aa pieter van der (auteur, éditeur)'),
 (50300, 'aa pieter van der (éditeur)'),
 (44571, 'aaa corp'),
 (68050, 'aachen hans von'),
 (26872, 'aachen hans von (attribué)'),
 (10441, "aachen hans von (d'après)"),
 (29456, 'aachen hans von (école)'),
 (30712, 'aachen hans von (inventeur)'),
 (60610, 'aachen hans von (manière de)'),
 (27928, 'aachen hans von (peintre)'),
 (40467, 'aaes erik'),
 (2165, 'aalto alvar'),
 (27365, 'aartman adriaan'),
 (44348, 'aartman adriaan (manière de)'),
 (32008, 'ab herman carlson levin'),
 (54742, 'abadia juan de la (attribué à)'),
 (36370, 'abadie cadet louis (imprimeur)'),
 (50598, 'abadie louis (éditeur, libraire, imprimeur)'),
 (62709, 'abadie louis (éditeur)'),
 (67046, 'abadie louis (imprimeur, éditeur, libraire)'),
 (64587, 'abadie louis (imprimeur, éditeur)'),
 (61159, 'abadie louis (imprimeur, libraire, éditeur)'),
 (52028, 'abadie louis (imprimeur)'),
 (21560, 'abadie p (libraire)'),
 (36379, 'abadie paul'),
 (29389, 'abadie veuve (imprimeur)'),
 (31075, 'abadie vve (imprimeur, libraire, éditeur)'),
 (46192, 'abadie vve (imprimeur)'),
 (49373, 'abaquesne laurent'),
 (23758, 'abaquesne masséot'),
 (312, 'abaquesne masséot (atelier)'),
 (46763, 'abaquesne masséot (attribué à)'),
 (46200, 'abaquesne masséot (attribué)'),
 (49812, 'abaquesne masséot (céramiste)'),
 (15081, 'abaquesne masséot (faïencerie)'),
 (59845, 'abaquesne masséot (manufacture)'),
 (46994, 'abascal carlos'),
 (10823, 'abate niccolo dell'),
 (56783, 'abate nicolo dell'),
 (51381, 'abate nicolo dell (atelier)'),
 (13558, 'abate nicolo dell (attribué à)'),
 (59411, "abate nicolo dell (d'après)"),
 (28072, 'abate nicolo dell (dessinateur)'),
 (16429, 'abate nicolo dell (école)'),
 (56580, 'abate nicolo dell (inspiré par)'),
 (27135, "abate nicolo dell'"),
 (22880, "abate nicolo dell' (atelier)"),
 (49480, "abate nicolo dell' (d'après)"),
 (38278, 'abauza carlos de'),
 (52417, 'abbadie (imprimeur)'),
 (23941, 'abbal andré'),
 (38276, 'abbate ciccio (dit, attribué)'),
 (57803, 'abbate ciccio (dit, école)'),
 (61415, 'abbate ciccio (dit)'),
 (31499, "abbate nicolo dell'"),
 (66009, "abbate nicolo dell' (?, école)"),
 (67743, "abbate nicolo dell' (école)"),
 (3866, "abbate nicolo dell' (entourage)"),
 (15224, 'abbema louise'),
 (32653, 'abbéma louise (peintre)'),
 (47352, "abbeville sanson d'"),
 (3655, "abbeville sanson d' (géographe, cartographe)"),
 (5509, "abbeville sanson d' (géographe)"),
 (57713, 'abbott berenice'),
 (1690, 'abbou w'),
 (131, 'abboud shafic'),
 (57120, 'abc (éditeur)'),
 (53847, 'abc (imprimeur)'),
 (34148, 'abdul lida'),
 (25759, 'abeele jodocus sebastiaen van den'),
 (42259, 'abeele jodocus sebastiaen van den (peintre)'),
 (40179, 'abeil (éditeur)'),
 (2659, 'abeillé jack (dit)'),
 (9340, 'abeillé jack (illustrateur)'),
 (54570, 'abeillé jack (imprimeur)'),
 (40376, 'abeille jacques'),
 (61243, 'abeillé jacques (dessinateur)'),
 (68094, 'abel (éditeur)'),
 (52708, 'abel and sons'),
 (52081, 'abel de pujol alexandre denis'),
 (62810, 'abel de pujol alexandre denis (auteur)'),
 (6322, "abel de pujol alexandre denis (d'après)"),
 (20464, 'abel de pujol pierre alexandre fils'),
 (14811, 'abel françois barthélémy marius'),
 (54872, 'abel louis'),
 (38865, 'abel marius'),
 (38555, 'abel mme (attribué)'),
 (47332, 'abel-truchet (dit) (peintre)'),
 (48203, 'abel-truchet louis'),
 (65774, 'abel-truchet louis (patronyme, peintre)'),
 (37832, 'abel-truchet louis (patronyme)'),
 (20801, 'abel-truchet louis (peintre)'),
 (27442, 'abelanet sylvie'),
 (49416, 'abensour  l. (auteur)'),
 (64394, 'aberli jean-louis (dessinateur)'),
 (44260, "aberman m (?, d'après)"),
 (800, 'abidine dino'),
 (6549, 'abington lord'),
 (32120, 'abirached zeina'),
 (60238, 'ablett william albert'),
 (8236, 'abondio antonio (attribué à, médailleur)'),
 (1201, 'abot eugène'),
 (49237, 'abot eugène (aquafortiste)'),
 (21491, 'abot eugène (dessinateur)'),
 (65809, 'abot eugène michel joseph (aquafortiste)'),
 (46679, 'abougit joachim simon'),
 (46960, 'abougit joachim simon (attribué)'),
 (18609, 'about edmond (auteur)'),
 (13684, 'about edmond (écrivain)'),
 (50438, 'abraham tancrède'),
 (1974, 'abraham tancrède (dessinateur)'),
 (8256, 'abraham tancrède (graveur)'),
 (14273, 'abraham tancrède (graveur) (peintre)'),
 (67578, 'abrahams ivor'),
 (63391, 'abramovitsch claude (dit)'),
 (10557, 'abrard annette'),
 (66834, 'absalon'),
 (18404, 'absalon (dit)'),
 (49801, 'abt ulrich'),
 (35685, 'abu hamdan lawrence'),
 (37725, 'ac'),
 (30873, 'academie de moustiers (éditeur)'),
 (8138, 'académie des beaux-arts de vienne (auteur)'),
 (22964, 'academie royale de san fernando (éditeur)'),
 (58736, 'acarie-baron jacques rené isidore (lithographe)'),
 (56596, 'accard eugène'),
 (31970, 'accard eugène (peintre)'),
 (22086, 'accardi carla'),
 (28053, 'accart philippe andré'),
 (67667, 'acconci vito'),
 (43054, 'achard andré'),
 (49053, 'achard jean'),
 (6473, 'achard jean achille'),
 (27776, 'achard jean alexis'),
 (59433, 'achard jean alexis (peintre)'),
 (48390, 'achard jean georges pierre'),
 (18036, "achard jean georges pierre (sculpteur, d'après)"),
 (12351, 'achard pierre'),
 (3015, 'achart'),
 (48132, 'achen georg nicolaj'),
 (2246, 'achenbach andreas'),
 (16774, 'achenbach oswald'),
 (7338, 'achener maurice victor'),
 (3751, 'achille portal'),
 (57733, 'achille-fould georges (dit)'),
 (25726, 'acht rené charles'),
 (32179, 'acier michel victor (attribué à, auteur du modèle)'),
 (52309, 'acker emile jean'),
 (59722, 'acker jan van der'),
 (11552, 'ackerman paul'),
 (43506, 'ackermann & co'),
 (3130, 'ackermann & co (éditeur)'),
 (68711, 'ackermann charles (éditeur, imprimeur, lithographe)'),
 (1261, 'ackermann johann adam'),
 (7775, 'ackermann rené  (imprimeur, éditeur, attribué à)'),
 (31139, 'ackermann rené  (imprimeur, éditeur)'),
 (46907, 'ackling roger'),
 (2465, 'acl (promoteur immobilier)'),
 (67630, 'aclocque paul léon'),
 (42890, 'acqua cesare dell'),
 (49002, 'acquart a (lithographe)'),
 (30095, 'acriter (graveur)'),
 (58932, 'action francaise (éditeur)(?)'),
 (18191, 'action liberale populaire (exécutant)'),
 (10465, 'ad.braun & cie (photographe)'),
 (49558, 'adach adam'),
 (48487, 'adam'),
 (8662, 'adam (dessinateur)'),
 (27983, 'adam (graveur)'),
 (10277, 'adam albert'),
 (18165, 'adam albert (graveur)'),
 (59847, 'adam edouard'),
 (32947, 'adam edouard marie père'),
 (29036, 'adam elias (orfèvre)'),
 (25729, 'adam emile'),
 (41371, 'adam f (lithographe)'),
 (2539, 'adam françois'),
 (61941, 'adam grégoire joseph'),
 (56848, 'adam henri georges'),
 (29926, 'adam hippolyte'),
 (25275, 'adam isaac'),
 (5704, 'adam jean (?, graveur)'),
 (53015, 'adam jean (graveur)'),
 (43740, 'adam jean (sculpteur)'),
 (1271, 'adam jean-victor vincent  (dessinateur)'),
 (50224, 'adam jean-victor vincent (lithographe)'),
 (36843, "adam l'aîné (dit)"),
 (901, 'adam lambert sigisbert'),
 (35359, 'adam le jeune (dit)'),
 (53184, 'adam nicolas sébastien'),
 (57454, 'adam pierre'),
 (58648, 'adam raoul (peintre)'),
 (52503, 'adam v'),
 (43700, 'adam v (dessinateur, graveur)'),
 (27528, 'adam v (dessinateur)'),
 (30102, 'adam v (lithographe)'),
 (44919, 'adam victor'),
 (48941, 'adam victor (?, graveur)'),
 (4164, 'adam victor (auteur du modèle, auteur du décor)'),
 (191, "adam victor (d'après)"),
 (60188, 'adam victor (dessinateur)'),
 (65004, 'adam victor (graveur)'),
 (22078, 'adam victor (lithographe)'),
 (41879, "adam victor (peintre, dessinateur, d'après)"),
 (43569, 'adam victor jean'),
 (67565, 'adam victor jean (dessinateur)'),
 (23152, 'adam victor jean (graveur)'),
 (44804, 'adam victor jean vincent'),
 (2810, 'adam victor jean vincent (dessinateur)'),
 (56703, 'adam victor jean vincent (patronyme)'),
 (34839, 'adam-salomon antoine samuel'),
 (686, 'adam-salomon antony samuel'),
 (60094, 'adam-tessier maxime'),
 (51743, 'adam-tessier maxime (auteur)'),
 (55609, 'adami camilla (dit)'),
 (54639, 'adami valerio'),
 (68346, 'adami valerio (peintre)'),
 (30232, 'adams'),
 (47094, 'adams brothers & shardlow ltd'),
 (59259, 'adams georges (fabricant)'),
 (32342, 'adams georges jr (fabricant)'),
 (22250, 'adams robert (armurier)'),
 (37760, 'adams robert (inventeur)'),
 (17657, 'adamson sydney'),
 (62042, 'adan emile (dit)'),
 (44859, 'adan j. (lithographe)'),
 (61012, 'adan louis'),
 (61281, "adan louis (d'après)"),
 (7739, 'adan louis (patronyme)'),
 (31193, 'adan louis emile'),
 (16576, 'adan louis emile (dit)'),
 (17450, 'adeagbo georges'),
 (54344, 'adenet f'),
 (50618, 'adenis edouard (auteur)'),
 (41629, 'adenot laurent'),
 (14933, "adhemar abel d' (compositeur)"),
 (57807, 'adidas'),
 (15342, 'adidas (fabricant)'),
 (41440, 'adie & lovekin ltd'),
 (10642, 'adjadj r'),
 (14658, 'adlard h. (graveur)'),
 (25538, 'adler'),
 (53950, 'adler (fabricant)'),
 (45041, 'adler frédéric guillaume'),
 (42545, 'adler jules'),
 (13031, 'adler jules (auteur)'),
 (22051, "adler jules (d'après)"),
 (6544, 'adnan etel'),
 (63332, 'adnet françoise'),
 (40698, 'ado'),
 (1021, 'ado sato (dit)'),
 (62576, 'adolfz harman (éditeur)'),
 (7555, 'adour p (auteur)'),
 (46077, 'adriaenssen alexander'),
 (38419, 'adriaenssen alexander (peintre, entourage de)'),
 (10398, 'adriaenssen alexander (peintre)'),
 (29679, "adriaenssen alexander van (peintre, copie d'après, entourage de)"),
 (55296, 'adriaenssen alexander van (peintre, entourage de)'),
 (10807, 'adriaenssen vincent'),
 (27948, 'adrian (fabricant)'),
 (21629, 'adrian louis auguste'),
 (13783, 'adrian louis auguste (concepteur)'),
 (36580, 'adrian pic'),
 (64865, 'adrian thomas (cartier)'),
 (1859, 'adrion lucien'),
 (50264, 'aduatuques (émetteur)'),
 (33387, 'advinent etienne louis'),
 (39895, 'advinent etienne louis (peintre)'),
 (5748, 'adzak roy (concepteur)'),
 (59083, 'adzel-haerde kris (illustrateur)'),
 (2543, 'aebaecher andré'),
 (20848, 'aegeri carle von'),
 (68694, 'aellig della torre marcel'),
 (44107, 'aelst nicolas van (éditeur)'),
 (62935, 'aelst willem van'),
 (30862, 'aelst willem van (auteur)'),
 (24305, "aelst willem van (d'après)"),
 (37222, 'aelst willem van (peintre, attribué à)'),
 (65031, 'aelst willem van (peintre)'),
 (4444, 'aelst, nicolas'),
 (62655, 'aemilius terentius varro (émetteur)'),
 (13057, 'aepinus franz (inventeur)'),
 (48159, 'aero-photo (agence)'),
 (60530, 'aertgen van leyden (dit)'),
 (27404, 'aertsen pieter'),
 (8582, 'aertvelt andries van'),
 (8843, 'aertvelt andries van (attribué à)'),
 (56756, 'aes'),
 (50924, 'aeschbacher arthur'),
 (37186, 'afanasfieff (graveur)'),
 (48866, 'affichages français (imprimeur)'),
 (22206, 'affiches camis (imprimeur)'),
 (10383, 'affiches-camis (imprimeur), paris 172, quai de jemmapes'),
 (46019, 'affolter andré (patronyme)'),
 (13491, "affry adèle d' (née)"),
 (54605, 'ag'),
 (47711, 'agache alfred'),
 (35065, 'agache alfred pierre'),
 (28024, 'agam'),
 (60932, "agar jacques d'"),
 (43836, 'agard charles'),
 (21438, "agasias d'ephese (d'après)"),
 (4936, 'agasse jean laurent'),
 (37585, 'agazzi gian marco'),
 (4529, 'agdanier eugène (auteur)'),
 (17652, 'agellio giuseppe'),
 (20700, 'agelou (photographe)'),
 (48248, 'agence havas (éditeur)'),
 (49347, 'agence nationale des voyages (éditeur)'),
 (2840, 'agence photographique francaise (photographe)'),
 (39159, 'agence presse meurisse'),
 (7763, 'agence)'),
 (8475, 'ageorges joseph (auteur)'),
 (9087, 'agfa (éditeur)'),
 (15620, 'aghajanian sophie'),
 (46327, 'agisson a (photographe)'),
 (52350, 'aglio domenico tommaso dit il gobbo (anciennement attribué à)'),
 (41397, 'agnel (éditeur)'),
 (22049, 'agnes (atelier)'),
 (49745, 'agnetti vincenzo'),
 (8989, 'agnolo di domenico del mazziere'),
 (35842, 'agnone thierry'),
 (3038, 'agnus germaine'),
 (15529, 'agolini bruno'),
 (40336, 'agostini hubert'),
 (6821, "agostino carracci (d'après)"),
 (61747, "agostino veneziano (dit, d'après)"),
 (7711, 'agostino veneziano (dit, graveur)'),
 (16587, 'agostino veneziano (dit)'),
 (59905, 'agostino veneziano (graveur)'),
 (34833, 'agrapart'),
 (4690, 'agre (imprimeur, éditeur)'),
 (43868, 'agre genova (imprimeur, éditeur)'),
 (48822, 'agre genova (imprimeur)'),
 (24051, 'agresti livio (attribué à)'),
 (60571, 'agricola christoph ludwig'),
 (13848, 'agricola filippo (d’après)'),
 (7896, 'agricola j (éditeur)'),
 (63375, 'agricola luigi (dessinateur)'),
 (39365, 'aguado comte olympe (dit)'),
 (14058, 'aguado de las marismas olympe (patronyme)'),
 (4878, 'aguado onésipe'),
 (10114, 'aguayo fermin'),
 (46033, 'aguet (éditeur)'),
 (10580, 'aguet vve (éditeur)'),
 (45460, 'aguiar'),
 (42825, "aguiar comte d'"),
 (19469, "aguila c j e h d'"),
 (38469, 'aguilella henri'),
 (29643, 'aguilella henri (patronyme)'),
 (12650, 'agullo thierry'),
 (2650, 'agustoni (imprimeur)'),
 (3301, 'agustoni et cie (imprimeur)'),
 (58910, 'agut pep'),
 (43478, 'agutte georgette'),
 (14093, 'ahlers-hestermann friedrich'),
 (25918, 'ahorn lukas (sculpteur)'),
 (40833, 'aid george charles'),
 (2262, 'aiffre raymond rené'),
 (25166, "aiffre raymond rené (d'après)"),
 (26875, 'aiffre rené raymond (peintre)'),
 (53504, 'aigle (fabricant)'),
 (58440, 'aiguier auguste'),
 (3215, 'aiguier auguste (attribué)'),
 (54035, 'aillaud (photographe)'),
 (38930, 'aillaud antoine alphonse'),
 (30997, 'aillaud gilles'),
 (43447, 'aillaud gilles (peintre)'),
 (32347, 'aillaud simone'),
 (64325, 'aillot'),
 (34041, 'aime christiane'),
 (3812, 'airborne (diffuseur)'),
 (12913, 'aisnez martin'),
 (42028, 'aison (attribué)'),
 (52723, 'aison (peintre)'),
 (29058, 'aita de la penuela mathilde'),
 (61391, "aix-la-chapelle jean d' (sculpteur)"),
 (19929, 'aizelin eugène antoine'),
 (5749, 'aizelin eugène antoine (sculpteur)'),
 (62870, 'aizelin sophie'),
 (63837, 'aizpiri paul'),
 (39967, 'aizpiri paul (peintre)'),
 (31060, 'ajdukiewicz taddeusz'),
 (3829, 'ajena (fabricant)'),
 (50398, 'akan (population)'),
 (43679, 'aken hieronymus bosch van'),
 (8425, 'aken hieronymus bosch van (manière de)'),
 (24112, 'aken jan van'),
 (59360, "aken jan van (d'après)"),
 (4272, 'akkeringa johannes'),
 (34743, 'akrel fredrik (graveur)'),
 (27202, 'akrel fredrik (inventeur, graveur)'),
 (32559, 'al solh mounira'),
 (15782, 'ala el dine abdellatif'),
 (40881, 'alactin (imprimeur)'),
 (21336, 'alagbe yvan'),
 (52894, 'alain (scribe royal)'),
 (20120, 'alais (graveur)'),
 (42974, 'alamanio aloysio (graveur)'),
 (64585, 'alamy (éditeur)'),
 (32801, 'alanic'),
 (47692, 'alaphilippe camille'),
 (56781, 'alaphilippe ferdinand'),
 (6619, 'alard f (graveur)'),
 (31469, 'alary (armurier)'),
 (29861, 'alary-ruelle f'),
 (46419, 'alary-ruelle f (exécutant)'),
 (28307, 'alary-ruelle f (imprimeur)'),
 (32817, 'alasoniere henri fabien (dessinateur)'),
 (40536, 'alasoniere henri fabien (graveur)'),
 (23471, 'alaux'),
 (66536, 'alaux (dessinateur)'),
 (52677, 'alaux aline'),
 (27974, 'alaux aline (dessinateur)'),
 (65853, 'alaux fanny'),
 (50112, 'alaux guillaume'),
 (43137, 'alaux gustave'),
 (42662, 'alaux j p'),
 (54714, 'alaux jean'),
 (53954, 'alaux jean (?)'),
 (37986, 'alaux jean (atelier)'),
 (53894, 'alaux jean (attribué)'),
 (17291, "alaux jean (d'après)"),
 (33092, "alaux jean (dessinateur, d'après)"),
 (13854, 'alaux jean (peintre)'),
 (66564, 'alaux jean paul'),
 (1869, 'alaux jean pierre'),
 (782, 'alaux jeanne'),
 (22549, 'alaux le romain (dit)'),
 (64756, 'alavoine jean antoine'),
 (26505, 'alban (?)'),
 (4775, 'alban broche (éditeur)'),
 (4700, 'alban de lesgallery jean jacques'),
 (2530, 'albanesi domenico (attribué à, miniaturiste)'),
 (16216, 'albanesi michele'),
 (47680, "albani (d'après)"),
 (54731, 'albani francesco'),
 (34232, "albani francesco (?, d'après)"),
 (36006, 'albani francesco (?)'),
 (62244, 'albani francesco (attribué à)'),
 (37395, 'albani francesco (auteur)'),
 (46836, "albani francesco (copie d'après)"),
 (60318, "albani francesco (d'après, dit)"),
 (47126, "albani francesco (d'après, peintre)"),
 (63923, "albani francesco (d'après)"),
 (29707, 'albani francesco (d’après)'),
 (21397, 'albani francesco (inspiré par)'),
 (125, "albani francesco (inventeur, d'après)"),
 (20570, 'albani francesco (inventeur)'),
 (42192, 'albani francesco (peintre)'),
 (43417, 'albani francesco (suiveur de)'),
 (34959, "albani francesco dit l'albane (anciennement attribué à)"),
 (49800, "albani francesco dit l'albane (genre de)"),
 (25035, "albani francesco(d'après)"),
 (9116, 'albano ludovico (peintre)'),
 (17024, 'albaret'),
 (42558, 'albe maurice (dessinateur, graveur)'),
 (27444, 'albergé pierre'),
 (33053, 'alberico da rosate (auteur)'),
 (7064, 'alberola jean-michel'),

In [39]:
df[df.auteur=='morin narcisse'].index[0]

69082

In [45]:
rows = [ ['Nikhil', 'COE', '2', '9.0'], 
         ['Sanchit', 'COE', '2', '9.1'], 
         ['Aditya', 'IT', '2', '9.3'], 
         ['Sagar', 'SE', '1', '9.5'], 
         ['Prateek', 'MCE', '3', '7.8'], 
         ['Sahil', 'EP', '2', '9.1']]

In [48]:
import csv
with open("art_oeuv.csv", "w") as f:
    # using csv.writer method from CSV package
    write = csv.writer(f)
    write.writerows(rows)

In [18]:
df

                                      auteur
0
2                      codde pieter jacobsz.
3                        graeser adolf karl
4                                laurent h.
5                  van der meulen adam frans
6                     barbedienne ferdinand
...                                      ...
168529  hautemaniere ch guillaume (horloger)
168530          daguerre louis jacques mandé
168531      schiermeyer ets (établissements)
168532                       rouault georges
168533               racault g (photographe)

[168532 rows x 1 columns]

In [7]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [6]:
client.close()

In [14]:
from pymongo import MongoClient
with MongoClient() as client:
    client.list_databases()

In [6]:
from dotenv import dotenv_values

# recupere les données du dotenv
DENV = dotenv_values(".env") 
USER = DENV['USER']
PASSWORD = DENV['PASSWORD']
HOST = DENV['HOST']
DB_NAME = DENV['DB_NAME']

In [9]:
l=[('a','b'),(1,2)]

for x,y in l:
    print(y)

b
2

In [ ]:
print(True)

# RECUPERATION DATA

In [2]:
    # load data from csv
    
# data = pd.read_csv('base-joconde-extrait.csv', delimiter=';',low_memory=False ,encoding='utf-8')
# data.dataframeName = 'base-joconde-extrait.csv'

In [3]:
    # copy of data for notload all csv every time
    
# df=data.copy()
# df.shape

In [4]:
    # create  a joblib dump for small sample df
    

# dff=data.sample(frac=0.01)
# jl.dump(dff,'dff.jl')
# dff.shape

In [5]:
    # load the joblib dump 
df = jl.load('dff.jl')
df.shape

(6509, 75)

In [6]:
df = df.reset_index(drop=True)

## reduction de colonne

In [7]:
# % de remplissage des colonnes
na=df.isnull().sum()/df.shape[0]*100
na=na.sort_values()
na

ID-notice                         0.000000
POP_CONTIENT_GEOLOCALISATION      0.000000
POP_COORDONNEES                   0.000000
Statut juridique                  0.000000
PRODUCTEUR                        0.000000
                                   ...
MANQUANT_COM                     99.800277
REFMEM                          100.000000
NSDA                            100.000000
REFMER                          100.000000
REFPAL                          100.000000
Length: 75, dtype: float64

In [8]:
# Suppression des colonne supperieur a 50% de NAN
na50=na[na.values<50].index
df=df[na50]

In [9]:
df.columns

Index(['ID-notice', 'POP_CONTIENT_GEOLOCALISATION', 'POP_COORDONNEES',
       'Statut juridique', 'PRODUCTEUR', 'Identifiant Museofile',
       'Numéro de l'objet', 'BASE', 'CONTIENT_IMAGE', 'Lieu de conservation',
       'Domaine', 'Ville_', 'Source et date de la notice', 'NOMOFF', 'DPT',
       'REGION', 'IMAGE', 'Label Musée de France', 'Matériaux-techniques',
       'Dimensions', 'Date d'import', 'LOCA2', 'Période de création', 'Auteur',
       'Date d'acquisition', 'Titre', 'APTN', 'PHOT', 'Dénomination', 'Ecole',
       'Précisions sur l'auteur', 'Date de mise à jour', 'Sujet'],
      dtype='object')

In [10]:
#choix des colonnes utiles
col = ['ID-notice',
    'Auteur',
    'Titre', 
    'Dénomination',
    'Domaine', 
    'Sujet',
    # 'POP_CONTIENT_GEOLOCALISATION', 
    # 'Statut juridique',
    # 'PRODUCTEUR',
    # "Numéro de l'objet",
    'BASE',
    'CONTIENT_IMAGE', 
    # 'Lieu de conservation', 
    'Identifiant Museofile', 
    # 'Source et date de la notice', 
    'NOMOFF',
    'LOCA2', 
    'REGION', 
    'DPT', 
    'Ville_',
    'POP_COORDONNEES',
    # 'IMAGE', 
    # 'Label Musée de France', 
    # 'Matériaux-techniques',
    # 'Dimensions', 
    # "Date d'import", 
    # 'Période de création', 
    # "Date d'acquisition", 
    # 'APTN', 
    # 'PHOT', 
    # "Précisions sur l'auteur", 
    # 'Ecole', 
    # 'Date de mise à jour', 
    # 'MSGCOM'
]
len(col)

15

In [11]:
df=df[col]
df.shape

(6509, 15)

## clean encodage

- Il y a des lignes qui sont mal encodées
- la colonne base ne contient qu'une valeur. Mais elle en contient des mal encodé. ca nous permetra de recuperer les lignes mal encodées

In [12]:
df1=clean_encodage(df)

c:\Workspace\cours\06_bdd\Joconde-projet\module2.py:164: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, column] = df[column].apply(convert)
c:\Workspace\cours\06_bdd\Joconde-projet\module2.py:164: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, column] = df[column].apply(convert)
c:\Workspace\cours\06_bdd\Joconde-projet\module2.py:164: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, column] = df[column].apply(convert)
c:\Workspace\cours\06_bdd\Joconde-projet\module2.py:164: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, column] = df[column].apply(convert)
c:\Workspace\cours\06_bdd\Joconde-projet\module2.py:164: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, column] = df[column].apply(convert)
c:\Workspace\cours\06_bdd\Joconde-projet\module2.py:164: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, column] = df[column].apply(convert)
c:\Workspace\cours\06_bdd\Joconde-projet\module2.py:164: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, column] = df[column].apply(convert)
c:\Workspace\cours\06_bdd\Joconde-projet\module2.py:164: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, column] = df[column].apply(convert)
c:\Workspace\cours\06_bdd\Joconde-projet\module2.py:164: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, column] = df[column].apply(convert)
c:\Workspace\cours\06_bdd\Joconde-projet\module2.py:164: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, column] = df[column].apply(convert)
c:\Workspace\cours\06_bdd\Joconde-projet\module2.py:164: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, column] = df[column].apply(convert)
c:\Workspace\cours\06_bdd\Joconde-projet\module2.py:164: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, column] = df[column].apply(convert)

In [53]:
df1.BASE.unique()

array(['Collections des musées de France (Joconde)'], dtype=object)

In [13]:
# recup de la valeur base mal encodé ( c'est le string le plus long)

a=list(df.BASE.unique())
a.sort(key = len, reverse=True)
wrong_base = a[0]

# creation de 2 db , dont 1 mal encodé
df_cp1252=df[df.BASE == wrong_base]
df_ok=df[df.BASE == a[1]]

In [14]:
# verification qu' on recupere bien toutes les données
print(df_cp1252.shape + df_ok.shape)
df_cp1252.shape[0] + df_ok.shape[0]

(422, 15, 6087, 15)

6509

In [15]:
df_cp1252.head(2)

,ID-notice,Auteur,Titre,Dénomination,Domaine,Sujet,BASE,CONTIENT_IMAGE,Identifiant Museofile,NOMOFF,LOCA2,REGION,DPT,Ville_,POP_COORDONNEES
8,05940003872,JAUREGUI Juan de,Alcazar in Apocalyptus (gravure illustrant le ...,NaN,estampe,"scÃ¨ne biblique (Dieu le PÃ¨re, cheval, TÃ©tra...",Collections des musÃ©es de France (Joconde),oui,M0594,musÃ©e Goya,NaN,Occitanie,Tarn,Castres,"0.0,0.0"
33,06770010655,MANUFACTURE INDETERMINÃ‰E,Chevaux cabrÃ©s,statuette;paire (2),arts décoratifs;céramique,reprÃ©sentation animaliÃ¨re (cheval),Collections des musÃ©es de France (Joconde),oui,M0677,musÃ©e Thomas-Henry,NaN,Normandie,Manche,Cherbourg-en-Cotentin,"0.0,0.0"

In [16]:
def convert(s):
    if s is not None:
        try:
            if isinstance(s,str):
                s = s.encode("cp1252").decode()
            else : 
                s = str(s).encode("cp1252").decode()
                
        except UnicodeError:
            pass
    return s

In [17]:
columns = ['Auteur','Titre', 'Dénomination', 'Domaine', 'Sujet','BASE','NOMOFF', 'LOCA2','REGION', 'DPT', 'Ville_' ]
for column in columns:
    df_cp1252.loc[:, column] = df.loc[:,column].apply(convert)

C:\Users\IA-Alternant\AppData\Local\Temp\ipykernel_20420\594087213.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cp1252.loc[:, column] = df.loc[:,column].apply(convert)
C:\Users\IA-Alternant\AppData\Local\Temp\ipykernel_20420\594087213.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cp1252.loc[:, column] = df.loc[:,column].apply(convert)
C:\Users\IA-Alternant\AppData\Local\Temp\ipykernel_20420\594087213.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cp1252.loc[:, column] = df.loc[:,column].apply(convert)
C:\Users\IA-Alternant\AppData\Local\Temp\ipykernel_20420\594087213.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cp1252.loc[:, column] = df.loc[:,column].apply(convert)
C:\Users\IA-Alternant\AppData\Local\Temp\ipykernel_20420\594087213.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cp1252.loc[:, column] = df.loc[:,column].apply(convert)
C:\Users\IA-Alternant\AppData\Local\Temp\ipykernel_20420\594087213.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cp1252.loc[:, column] = df.loc[:,column].apply(convert)
C:\Users\IA-Alternant\AppData\Local\Temp\ipykernel_20420\594087213.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cp1252.loc[:, column] = df.loc[:,column].apply(convert)
C:\Users\IA-Alternant\AppData\Local\Temp\ipykernel_20420\594087213.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cp1252.loc[:, column] = df.loc[:,column].apply(convert)
C:\Users\IA-Alternant\AppData\Local\Temp\ipykernel_20420\594087213.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cp1252.loc[:, column] = df.loc[:,column].apply(convert)
C:\Users\IA-Alternant\AppData\Local\Temp\ipykernel_20420\594087213.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cp1252.loc[:, column] = df.loc[:,column].apply(convert)
C:\Users\IA-Alternant\AppData\Local\Temp\ipykernel_20420\594087213.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cp1252.loc[:, column] = df.loc[:,column].apply(convert)

In [18]:
# concatenation des 2 df
df1 = pd.concat([df_cp1252, df_ok])
df1.shape

(6509, 15)

## Suppression des lignes

In [19]:
# Ligne en double
df1 = df1.drop_duplicates(subset=['ID-notice'],keep='first')
df1.shape

(6506, 15)

In [20]:
# Oeuvre n'ayant pas de musé 
df1 = df1.dropna(subset=['Identifiant Museofile'])
df1.shape

(6506, 15)

In [21]:
# #suppression des nan Identifiant Museofile ne contiene aune info  de locallisation
# df1 = df1.loc[df1['Identifiant Museofile'].dropna().index]

# print(df1.shape)
# df1.head(3)

In [22]:
# Mettre des NAN
df1.replace('nan',np.nan, inplace=True)
df1.replace('',np.nan, inplace=True)

In [23]:
df1.Auteur.fillna('inconnu', inplace=True)

## Recup auteur

In [24]:

def nb_autor(aut):
    b=1
    if ';' in aut:
        b=len(aut.split(";"))
    return b

In [25]:
def normalize(auts):
    clean_auts=[]
    for aut in auts : 
        # if '(' in aut:
        #     aut=aut.split('(')[0]
        if aut:
            clean_auts.append(aut.lower().strip())

    return  clean_auts

In [26]:
from pandas import isna


def net_aut(aut):
    if not isna(aut) :
        if not isinstance(aut, str):
            aut=str(aut)
            
        if ';' in aut:
            aut = aut.split(';')
        else:
            aut=[aut]

        aut=normalize(aut) 
        
    return aut

In [27]:
# nettoyage des auteur : split , lower , et garder juste le nom/prenom

df1.Auteur=df1.Auteur.apply(net_aut)

In [28]:
# df_aut = df1[['Auteur','ID-notice']]
# df_aut=df_aut.set_index('ID-notice')
# df_aut

In [29]:
lst=df1.Auteur[df1.Auteur.notna()].values.tolist()

In [30]:
aut_lst = []
for auts in lst:
    aut_lst.extend(auts)
aut_lst=list(set(aut_lst))

In [31]:
len(aut_lst)

3068

In [32]:
aut_lst

['le brun charles (école)',
 'daumier honoré (sculpteur)',
 'reni guido',
 'guitet james',
 'delacroix eugène (auteur)',
 'la hyre laurent de (dessinateur, graveur, éditeur)',
 'vieillemard & ses fils (lithographe)',
 "t'ang haywen",
 'fragonard',
 'le louarn yvan',
 'umbach julius (graveur)',
 'lussigny guy de (auteur)',
 'maitre de philippe de levis-mirepoix',
 'coypel noël',
 'boisrond françois',
 "gillet henri (d'après)",
 'bonjour benjamin',
 'morgan roger',
 'andres pierre',
 'piton frédéric',
 'vasarri emilio',
 'camin pierre (dessinateur)',
 'rousseau henri (patronyme)',
 'societe francaise des petroles bp (fabricant)',
 "gerard françois baron (d'après)",
 'carriere jean rené',
 'boulard auguste marie (attribué à)',
 'dinet etienne (peintre)',
 'basset urbain',
 "vernet horace (d'après, peintre)",
 'huet paul',
 'pellerin (imprimeur, éditeur)',
 'carracci agostino (attribué à)',
 'brentel friedrich (miniaturiste)',
 'rubens peter paulus',
 'landelle charles',
 'cros henri edmond',
 'dubois paul',
 'chabaud auguste',
 'daumet honoré',
 'lippi filippino (école)',
 'dufour l (imprimeur)',
 "limosin léonard (d'après)",
 'c a p',
 'didot firmin frères (éditeur)',
 'mcmahon bea',
 'coulon jean-baptiste',
 "botticelli sandro (d'après)",
 'belleteste jean antoine (ivoirier)',
 'pinet',
 "tatin d'avesnieres robert (dit)",
 'cazin marie (dite)',
 'anonyme (miniaturiste)',
 'le liepvre maurice charles marie',
 'flavius valerius aureliusconstantinus (émetteur)',
 'pierre jacques',
 'seureau charles',
 'layraud fortuné joseph séraphin',
 'blais jean-charles',
 'boel pieter',
 'fougerat emmanuel',
 'brouet auguste (dessinateur, aquafortiste)',
 'froelicher joseph antoine',
 'la hubaudière (faïencerie)',
 "le conte sauveur (d'après)",
 'anonyme (r m)',
 'ortmans françois auguste',
 'cox patrick (créateur)',
 'both jan',
 'sogliani giovannantonio di francesco',
 'bussiere gaston',
 'vaneau pierre',
 'desrosiers pierre (lithographe)',
 'lomi aurelio',
 "atelier d'amiens",
 'berton armand',
 'poussin nicolas (inspiré par)',
 'teniers david ii (atelier)',
 'creston rené yves (dessinateur)',
 'healy george',
 'gavarni paul (dit)',
 'loisy pierre de (dessinateur, graveur)',
 'vouet simon',
 'barre jean auguste',
 'groupe de compiegne 985',
 'mathoniere nicolas de (graveur, éditeur)',
 'gouro (population)',
 'gernez paul elie',
 'fabre (éditeur, tabac)',
 'leloy jean charles françois',
 'manufacture des gobelins (manufacture)',
 "buonarroti michelangelo (d'après)",
 'bellange pierre antoine (ébéniste)',
 'f g',
 'breton jules',
 'lienard jean auguste edouard',
 'mazerolle alexis joseph',
 'aquila pietro',
 'lignon etienne frédéric',
 'angerer ludwig',
 'van der heyden jacob (graveur)',
 'marcellin jean esprit',
 'pinot charles françois (dessinateur, attribué à)',
 'lefrancois georges',
 "brueghel d'enfer (dit)",
 'bonnard pierre (peintre)',
 'granet françois marius',
 'faustin (dit) (caricaturiste)',
 'binet victor jean',
 'vallet minot (éditeur)',
 "morel jean-marie le fils (architecte, d'aprè)",
 'vieillemard & ses fils (éditeur)',
 'lancelot emile',
 'rudier alexis (fondeur)',
 'fontana prospero (auteur)',
 'lampi johann baptist (attribué à)',
 'manufacture carpentier & successeurs (?)',
 'janoir jean',
 'belly léon',
 'mellin charles (peintre)',
 'berrettini pietro (école)',
 'bernard joseph',
 'boullogne bon (?)',
 'andrea da firenze (peintre)',
 'lagrenee jean-jacques',
 'yon edmond (illustrateur)',
 'gourdon maurice',
 "rigau y ros hyacinthe (d'après)",
 'manufacture de montereau (auteur du modèle, auteur du décor)',
 "boullogne l'aîné (dit)",
 'meheut mathurin (auteur du décor)',
 'dali salvador',
 'rabier benjamin (aquarelliste)',
 "abbate nicolo dell'",
 'yvon (éditeur)',
 'morel emile ( , architecte)',
 'leschhorn paul',
 'laurens jean paul',
 'fayard auguste (attribué)',
 'mathey georges',
 'beaury-saurel amélie (peintre)',
 'yvon adolphe',
 'pottier (verrier)',
 'moyreau jean',
 'perrot (lithographe, imprimeur)',
 'duthoit louis',
 'chubac albert',
 'mazzuola francesco',
 'chapon l (dessinateur)',
 'le faivre jean-baptiste louis',
 'moreau gustave',
 'braun augustin',
 'silvestre israël le jeune',
 'fort jean antoine siméon',
 'brueghel pieter ii',
 'kodak (éditeur)',
 'lorain gustave',
 "nash joseph (?, d'après)",
 'institut textile de gand (fabricant)',
 'julien pierre',
 'deschamps gérard',
 'boudin eugène (dessinateur)',
 'lapina i (éditeur, imprimeur)',
 'oudry jacques charles',
 'faure elisabeth',
 'fresnaye marie',
 'lallemand stéphane',
 'deveria laure',
 'tedesco françois (éditeur)',
 'blaeu corneille (éditeur)',
 "lobrichon timoléon marie (d'après)",
 'percier charles',
 'dalou aimé jules',
 'malivel jeanne (dessinateur)',
 'pierre jean-baptiste marie',
 'delaunay jules elie (dessinateur, peintre)',
 'lagarrigue emmanuel',
 'son nicolas de',
 'botticini francesco',
 'maitre h a l',
 'mignard nicolas',
 "arthois jacques d'",
 'rameau claude',
 'picard edmond',
 "anonyme . le brun charles (d'après)",
 'devosge anatole (auteur)',
 'audran benoît i',
 'beaudin andré',
 'couaillet armand (horloger)',
 'dupuis jean-baptiste daniel',
 'rosselin (éditeur)',
 'pellerin (imprimeur, libraire, éditeur)',
 'pel joseph',
 'galtier-boissiere louise',
 'rousseau françois eugène (marchand, éditeur)',
 'maitre de rieux',
 'velasquez diego (dessinateur)',
 'burri alberto',
 'zuccaro taddeo',
 'bouzanquet gaston',
 'varin charles nicolas (graveur)',
 'carabin françois rupert',
 'beuzon joseph charles (dessinateur)',
 'kijno ladislas',
 'forbin comte auguste de',
 'starck philippe (concepteur)',
 'beccafumi domenico (attribué à)',
 'schlumberger pierre',
 'mallery karel van (graveur, inventeur, éditeur)',
 'franck françois alexandre (photographe)',
 'piet fernand',
 'jourdan charles (exécutant)',
 'carracci annibale (entourage)',
 'sta henri de (dessinateur)',
 'lemordant jean julien',
 'schmit (créateur)',
 'fumiere (fondeur)',
 'trajan (dit)',
 'pellerin & cie (imprimeur, éditeur, attribué à)',
 'constant ier (dit)',
 'puech denys',
 'heim françois joseph',
 'le brun charles (attribué à)',
 'gorin jean (dit)',
 'perry-bouquet anne (peintre)',
 'kraus franz anton (auteur)',
 'eduens (émetteur)',
 'feuchot (photographe)',
 "gudin théodore (d'après)",
 'deby caroline (née)',
 'poerson charles françois',
 'fossat vincent (aquarelliste, peintre)',
 'bellange jacques (dessinateur)',
 'degas edgar',
 'morrison jasper (designer)',
 'chartier marteau frères et boudin (éditeur)',
 'van der meulen adam frans (peintre)',
 'immobiliare france (promoteur immobilier)',
 'breger a frères (imprimeur)',
 'la patelliere amédée de',
 'borga eugène antoine',
 'frere bey (dit)',
 'anonyme (faïencier)',
 'courtois antoine',
 'blancheville marthe (auteur)',
 'monnoyer jean-baptiste (attribué)',
 'merimee prosper',
 'aube jean paul',
 'lucius marcius philippus (émetteur)',
 'andre carl',
 'willermet antoine gabriel (attribué à)',
 "le brun charles (peintre, d'après)",
 'hoyer jean louis joseph',
 'cap',
 'bazaine jean',
 'piranese (dit)',
 'liard j (éditeur)',
 'chagall marc',
 'marguerite (orfèvre)',
 'lapicque charles (dessinateur)',
 'etablissements schmit',
 'roehn adolphe eugène gabriel',
 'houdon jean antoine',
 'rosi alessandro (peintre)',
 'punt jan (graveur)',
 'quantin (imprimeur, éditeur)',
 "perelle gabriel (d'après)",
 'adidas (fabricant)',
 'aucoc louis (1850-1932)',
 'viltart (éditeur)',
 'boulme claude',
 "venot d'auteroche eugénie",
 'pencz georg (dessinateur, graveur)',
 'baye pierre alphonse (auteur)',
 'anonyme (éditeur)',
 'clement geneviève',
 'renoux charles caïus',
 'ducreux joseph',
 'lemoine alfred (lithographe)',
 'nardo mariotto di',
 'michau théobald (attribué à)',
 'dumas alexandre père',
 'vespasien (émetteur)',
 'warin claude (médailleur)',
 'vos cornelis de',
 "herbes d'",
 'terrus etienne',
 'bagetti giuseppe pietro (inspiré par)',
 'carrier-belleuse albert ernest',
 'lancelot g (photographe, éditeur)',
 'bernard eustache',
 'gerome jean léon',
 'rennertz karl manfred',
 'heath charles(graveur)',
 'combier jean (photographe, imprimeur)',
 'paris charles',
 'grimaldi giovanni francesco',
 'lanfranco giovanni',
 'le brun charles (auteur du modèle)',
 'momper joos de (peintre)',
 'nattier jean marc (attribué)',
 'dallemagne léon',
 'bocourt etienne (graveur)',
 'moulene jean-luc',
 'meulen adam frans van der',
 'schulte antoinette',
 'cambon armand (peintre)',
 'fontaine pierre françois léonard',
 'vecellio tiziano (cercle de)',
 "jongkind johan barthold (d'après)",
 'cardi lodovico',
 'cantarini simone',
 "editions d'art yvon (éditeur)",
 'perroneau jean-baptiste',
 'christian désiré (auteur, créateur, émailleur)',
 'hubac louis joseph',
 'interguglielmi & cie eugenio',
 'dupont-diot frédéric (éditeur, libraire)',
 'cals adolphe félix',
 'lapicque charles (auteur)',
 'lemercier (graveur)',
 'dumont jacques edme',
 'miger simon charles (graveur)',
 'manufacture indeterminée (fabrique)',
 'galichon louis (auteur)',
 'margantin louis',
 'manufacture de chantilly (manufacture)',
 'boissonnet edmond',
 "caresme philippe (d'après)",
 'arnaudin félix',
 'van everdingen allaert',
 'berthaux j. (éditeur)',
 'dargaud v',
 'agricola luigi (dessinateur)',
 'prouve victor',
 'modigliani amedeo',
 'verdoux',
 'anonyme (population)',
 'gogh vincent van (inspiré par)',
 'blondat max',
 'natoire charles joseph (attribué à)',
 'lobanov alexander',
 'lemoyne paul (dit)',
 'drouais jean germain',
 'chosson du colombier eugénie',
 'monet claude',
 'poli jacques',
 'nedjar michel',
 'chantiers augustin normand (concepteur)',
 'vredeman de vries hans (dessinateur)',
 'lopez y portana vicente',
 "van der meulen adam frans (d'après)",
 'plagnol serge',
 'grunenwaldt martha',
 'goldenberg',
 'maitre aux petits points ( )',
 'cuisin charles',
 'carucci jacopo (attribué à)',
 'chapu henri michel antoine (sculpteur)',
 'le gray gustave',
 'bavastro georges',
 'cassas louis françois',
 'francucci innocenzo (attribué à)',
 'damas eugène',
 'lacour emile (éditeur, phototypie)',
 'napoleon iii (émetteur)',
 "olivier-pinot (d'après)",
 'minton (manufacture)',
 'jacoby emile (photographe)',
 'thion françois (photographe)',
 'quellin jean erasme (auteur)',
 "palma vecchio (dit, d'après)",
 'septime severe (émetteur)',
 'simonneau charles louis (?, graveur)',
 'pinel de grandchamp louis emile',
 'baray bernard',
 'rembrandt harmensz van rijn (manière de)',
 'boulay jean-charles (graveur)',
 'anonyme (fabricant)',
 'governatori aroldo (auteur)',
 'buescher ferdinand august',
 'le blon michael',
 'moinet guy',
 'rabier benjamin (dessinateur)',
 'gros antoine jean baron (attribué)',
 'millet jean-françois',
 'aztèque (population)',
 "margerit-bremond (éditions d'art)",
 'vignerot & demoulin & cie (graveur)',
 'valenciennes pierre de',
 'charlemagne (dit)',
 'george j (éditeur)',
 'monticelli adolphe joseph (attribué)',
 'jouvenet jean-baptiste',
 'picard-guérin jean françois (imprimeur, libraire, éditeur)',
 'lacour pierre père',
 'rossi nunzio',
 'maes godfried',
 'manufacture de creil-montereau (manufacture)',
 'olivier rené',
 'huntley & palmers (éditeur)',
 'papart max',
 'ungerer jean thomas (patronyme)',
 'cahn marcelle',
 'gerard françois baron',
 'sebastien',
 'redon odilon',
 'becquet',
 'marquet albert',
 'lacroix r (photographe)',
 'berchem nicolaes pietersz (graveur, inventeur)',
 'dubois ambroise (dit)',
 'le prince jean-baptiste',
 'michel georges',
 'le hay elisabeth sophie (graveur)',
 'heilingotter anton',
 'brugnicourt max',
 'campagnola domenico (attribué à)',
 'galery charles (peintre)',
 'crapelet louis amable',
 'durandelle louis-emile (photographe)',
 'fra bartolomeo',
 "béjard elie (facteur d'instrument)",
 'lyoncolor (imprimeur)',
 'meissonier ernest',
 'bosschaert ambrosius',
 'mantegna andrea (école de)',
 'cezanne paul',
 'c l b (éditeur)',
 "romano giulio(d'après)",
 'collins william (inspiré par)',
 'le primatice (dit)',
 'puech denys (dessinateur)',
 'dupommereulle daniel (patronyme)',
 'pannier jacques etienne (graveur)',
 'papety dominique',
 'neurdein frères (imprimeur)',
 'lavric kessler marthe (dite)',
 'balan eugène',
 'leroy eugène',
 'dupre georges (graveur)',
 'huilliot claude (?)',
 'valsuani c (fondeur)',
 'goyen jan van',
 'poirier christian',
 'derand françois',
 'theotocopoulos domenicos',
 'thierry frères (lithographe)',
 'caligula (dit)',
 "polymachos (?, d'après)",
 'carnot lazare (1753-1823)',
 'i m l',
 'dart g (éditeur)',
 'ingres jean auguste dominique (auteur)',
 "slodtz rené michel (d'après)",
 'aizelin eugène antoine',
 'van hasselt willem',
 'redoute pierre joseph',
 'guerra giovanni',
 'anonyme (graveur, inventeur)',
 'prunier marcel',
 'longueil joseph de',
 'rousselot jean (écrivain)',
 "raphaël sanzio raffaello, dit (d'après la peinture de)",
 'griffier jan (inventeur)',
 "moncornet balthazar (graveur, d'après)",
 'rousseau alfred',
 'brongniart alexandre théodore (architecte)',
 'vauthier-galle andré (sculpteur, médailleur)',
 'lagrenee anthelme françois',
 'carolus-duran (dit)',
 'mariotto di nardo',
 'mahmoudi halim',
 'boucher françois (dessinateur)',
 'baudelaire a colas',
 'jordy michel (photographe)',
 'pradier jean jacques',
 'foury germaine',
 'v aq (dessinateur)',
 'deyrolle jean',
 'lante louis marie',
 'fraye andré',
 'delamonce ferdinand (dit)',
 'cadeau amélie (née)',
 'bordone pâris (peintre)',
 "millet jean françois (d'après)",
 "honthorst gerrit van (d'après)",
 'giroux andré',
 'chaissac gaston',
 "clouet françois (d'après)",
 'pepe vignes (dit)',
 'gonzalez julio',
 'pons louis',
 'laas henri (éditeur)',
 'durer albrecht (graveur)',
 'giraud charles',
 'hayter george',
 'le villain françois (imprimerie)',
 'vernier emile louis',
 'b r (éditeur)',
 'luyken jan',
 'cesio carlo',
 'schongauer martin (graveur)',
 'le dru hilaire',
 "mignard pierre (d'après)",
 'probst georg balthasar (graveur)',
 'poilly nicolas le vieux de',
 'berthe a (libraire, papetier)',
 "vecellio tiziano (d'après)",
 'claudin (poète)',
 'boullogne louis le jeune',
 'bouchor joseph félix',
 'vicaire gérard',
 'baloup clément',
 'fabrique de commelles',
 'wille johann georg',
 'dufour bernard',
 'vayson paul',
 "le sueur eustache (d'après)",
 "fontana g a (d'après, dessinateur)",
 'valiquet',
 'pradier james (dit)',
 "sauveur le conte (d'après, dit)",
 'burgun-schverer & co (fabricant)',
 'peintre macron (peintre)',
 'girodet de roucy-trioson anne louis (inspiré par)',
 'luthi (éditeur)',
 'toulouse-lautrec',
 'badiane alioune (patronyme)',
 'tournemine charles de',
 'suchetet auguste edmé',
 'gosselin charles',
 'bieuville horace désiré',
 'weydinger (doreur)',
 'faïencerie de nevers',
 'bissiere marc antoine (auteur, imprimeur)',
 'mellet jules fils (?)',
 'caseblanque georges',
 'poulbot francisque (1879-1946)',
 "dupre jules (d'après)",
 'girodet-trioson (dit)',
 "wouwerman philips (d'après)",
 "chocolaterie d'aiguebelle (éditeur)",
 'dehodencq alfred',
 'asselin charles eloi',
 'attale ier soter (émetteur)',
 'marchionni carlo',
 'gericault théodore',
 'amman jost (attribué à)',
 'caius pius esuvius tetricus (émetteur)',
 'rousseau henri emilien',
 'mercereau charles (dessinateur, graveur)',
 'faïencerie de sarreguemines (manufacture, attribué à)',
 'labille lucien (dessinateur)',
 'gustancs-pimienta (dit)',
 'anezin gérard (auteur)',
 'quesnel edouard (fondeur)',
 'misheff alzek',
 'daubner georges alexandre (patronyme)',
 'claus camille',
 'taschler-signer',
 'carrand louis',
 'celebonovic marko',
 'luce maximilien',
 'chantereau jérôme-françois',
 'steinlen théophile (dessinateur)',
 'loutherbourg philippe jacques (dit)',
 'hallet andré',
 'brule jeanne',
 'peruzzi baldassarre tommaso (attribué à)',
 'giordano luca (atelier)',
 'rodin auguste',
 'comasec (fabricant)',
 "guillaume albert (d'après)",
 'ry charles du (attribué à)',
 'stoskopf charles gustave',
 'daumier honoré (caricaturiste)',
 'carjat etienne',
 "imagerie d'epinal (imprimeur, éditeur)",
 'nougarede g (éditeur)',
 'weiss emil rudolf',
 'maitre du choeur et du portail sud de rosheim (style)',
 "oger ferdinand (d'après)",
 'cacheux françois (dessinateur)',
 'creuse auguste de',
 'marchand françois',
 "hogarth william (graveur, inventeur, d'après)",
 "santi raffaello (dessinateur, d'après)",
 'sacchi andrea',
 'allemand hector (peintre)',
 'bulloz jacques ernest (éditeur)',
 'bouys andré (atelier)',
 'imagerie pellerin (imprimeur, éditeur)',
 'anonyme (graveur)',
 'winter charles david',
 'leger fernand (dessinateur)',
 "cesari d'arpino giuseppe",
 'bezombes roger',
 'baoulé (population)',
 'adrion lucien',
 'vernay françois',
 'rutenes (émetteur)',
 'drahos tom',
 'lantz (graveur)',
 'bataille (imprimeur)',
 'leblanc-barbedienne jules (fondeur)',
 'pailes isaac',
 'pâris pierre-adrien',
 'chambrelent fils (imprimeur)',
 'galle theodor (éditeur)',
 'boeckhorst johann (dessinateur)',
 'mucha alphonse',
 'butterfield michaël',
 'delachaux léon',
 'fortuny mariano',
 "sabatier (d'après)",
 'pineau jacques',
 'hussenot joseph (dessinateur, attribué à)',
 'chardon (imprimeur)',
 'wentzel françois (imprimeur, éditeur)',
 "orcagna (d'après)",
 'rosso fiorentino',
 'falco (dessinateur)',
 'beaumont jean',
 'louis xiv (émetteur)',
 'ziem félix',
 'son johannes',
 'thiassalé (population)',
 'fragonard jean honoré (dessinateur)',
 "atelier de la vallee de l'allier (céramiste, style)",
 'gatine georges-jacques (graveur)',
 'maillol aristide',
 'brigeau vve (imprimeur)',
 'chauveau françois (dessinateur)',
 'frenzel pankraz',
 'delaunay elie',
 'micot jean-baptiste',
 'bertin françois edouard',
 'biard françois',
 "filipepi alessandro mariano (d'après)",
 'michau théobald (attribué)',
 'roiné pierre vincent',
 'mignard pierre (attribué)',
 "neroccio di bartolomeo di benedetto de' landi",
 'basset andré (imprimeur, éditeur)',
 'monet claude oscar',
 'van doetecum lucas (graveur)',
 'e l d (dit, imprimeur)',
 'henry-pierre (dessinateur)',
 'clergue lucien (photographe)',
 'coninck david de (attribué à)',
 'roll alfred',
 "rubens peter paulus (d'après)",
 'vallee caroline',
 "rostan & munier (éditions d'art)",
 'morand guillemette',
 'duthoit aimé',
 'dore gustave (dit)',
 'bonheur marie rosalie',
 'girodet de roucy-trioson anne louis',
 'mayall john jabez edwin (photographe)',
 'cohl emile (dessinateur)',
 'venius otto van',
 'lafaye prosper',
 'bernuy louis (éditeur)',
 'herold & cie (éditeur)',
 'dupetit henri-georges',
 'boutemie denis (dessinateur, graveur)',
 'seinberg eva',
 'atelier de pistillus',
 "gauguin paul (d'après)",
 'dequoy simon (attribué)',
 'murillon jean',
 'la hyre laurent de (attribué à)',
 'behaghel amédée',
 'manufacture des terres de bordes (manufacture) (manufacture)',
 'basset (imprimeur, éditeur)',
 'rousseau théodore',
 'le titien (dit, inspiré par)',
 'vinci leonardo da',
 "anonyme (illustrateur, d'après)",
 "michel-ange (dit, d'après)",
 'plantard andré (?)',
 'ecole de fontainebleau',
 'buthaud rené (céramiste)',
 'odazzi giovanni',
 'bigot georges ferdinand (dessinateur, attribué à)',
 'champin jean-jacques',
 'nicolle victor jean',
 'fouquet théodore',
 'moreau jean michel',
 'kremer victor',
 'boisecq simone',
 'mather t',
 'maxence (émetteur)',
 'couton claudius',
 'gambier (fabricant)',
 'deschamps jean-baptiste',
 'bouchor joseph félix (peintre)',
 'helleu paul césar (dessinateur)',
 'le clerc le jeune (dit)',
 "molenaer jan miense (d'après)",
 'manufacture de rouen',
 'dyck anton van (école)',
 'francki jacques',
 'varin joseph i (graveur)',
 'boudin eugène (peintre)',
 'louttre b (dit)',
 'vesque marthe',
 'albrier joseph',
 'laemlein alexandre',
 'damoiselet florentin',
 'fontaine pierre françois léonard (inspiré par)',
 'chefneux léon (photographe)',
 'misserey jules (photographe)',
 'matisse henri',
 'herrmann georges fils (créateur)',
 'levy emile',
 "hersent louis (d'après, peintre)",
 'bodinier guillaume (peintre, dessinateur)',
 'bony jean françois',
 'freida raphaël désiré (dessinateur)',

## Recup musée

In [33]:
df2=df1.copy()

In [34]:
df2['Identifiant Museofile'].unique().shape

(332,)

In [35]:
df2 = df2[['Identifiant Museofile','NOMOFF','REGION','DPT','Ville_','POP_COORDONNEES']]
df2.columns = ['id','nom','region','dept','ville','geoloc']

In [36]:
df2

,id,nom,region,dept,ville,geoloc
8,M0594,musée Goya,Occitanie,Tarn,Castres,"0.0,0.0"
33,M0677,musée Thomas-Henry,Normandie,Manche,Cherbourg-en-Cotentin,"0.0,0.0"
36,M0418,MUS - musée d'histoire urbaine et sociale de S...,Ile-de-France,Hauts-de-Seine,Suresnes,"48.868303,2.221944"
46,M0866,musée départemental des Hautes-Alpes,Provence-Alpes-Côte d'Azur,Hautes-Alpes,Gap,"44.562625,6.085573"
51,M0012,musée du Château des Rohan,Grand Est,Bas-Rhin,Saverne,"48.741958,7.362787"
...,...,...,...,...,...,...
6504,M7050,muséum d'histoire naturelle,Provence-Alpes-Côte d'Azur,Alpes-Maritimes,Nice,"43.701924,7.279572"
6505,M5001,musée d’archéologie nationale (des origines à ...,Ile-de-France,Yvelines,Saint-Germain-en-Laye,"48.897879,2.094936"
6506,M0332,musée des beaux-arts et d'archéologie,Bourgogne-Franche-Comté,Doubs,Besançon,"47.240055,6.022938"
6507,M0172,musée des ursulines musée Lamartine,Bourgogne-Franche-Comté,Saône-et-Loire,Mâcon,"46.30716,4.832892"
6508,M5002,musée des civilisations de l'Europe et de la M...,Provence-Alpes-Côte d'Azur,Bouches-du-Rhône,Marseille,"43.29690491040561,5.361071769324869"

In [37]:
df2.drop(df2[df2['id']== '0000'].index,inplace=True)
df2['id'].replace('5027','M5027',inplace=True)
df2['id']=df2['id'].apply(lambda x: x.upper())  # met en majuscule le Mdevant le numero de musé

In [38]:

# df2['Identifiant Museofile']=df2['Identifiant Museofile'].apply(lambda x: 'M'+x if x[0]!='M' else x)

In [39]:
# ordonne ceux qui ont le plus de données en premier et supprime les doublons
df2['nb_nan']=df2.isna().sum(axis=1)
df2=df2.sort_values('nb_nan')
df2=df2.drop_duplicates(subset='id',keep='first')
df2=df2.drop(columns=['nb_nan'])
df2=df2.sort_values('id')

In [40]:
print(df2.shape)
df2['id'].unique().shape

(331, 6)

(331,)

In [41]:
df2

,id,nom,region,dept,ville,geoloc
725,B9001,Bibliothèque de l’Assemblée Nationale,Ile-de-France,75007,"Paris, Assemblée nationale","48.86215,2.31897"
580,B9002,Bibliothèque municipale de Grasse,Provence-Alpes-Côte d'Azur,Alpes-Maritimes,Grasse,"43.65559,6.91736"
4198,B9003,Bibliothèque municipale de Besançon,Bourgogne-Franche-Comté,Doubs,Besançon,"47.23649,6.0274"
5897,M0003,musée du Pays de Hanau - histoire et vies d’un...,Grand Est,Bas-Rhin,Bouxwiller,"48.824977,7.482915"
4139,M0008,Maison de l'Archéologie des Vosges du Nord,Grand Est,Bas-Rhin,Niederbronn-les-Bains,"48.947444,7.650428"
...,...,...,...,...,...,...
4016,M7011,muséum d'histoire naturelle,Bourgogne-Franche-Comté,Doubs,Besançon,"47.236687,6.022095"
3040,M7013,muséum d'histoire naturelle,Occitanie,Haute-Garonne,Toulouse,"43.594189,1.448945"
1928,M7015,muséum d'histoire naturelle,Normandie,Seine-Maritime,Le Havre,"49.487552,0.108231"
4128,M7050,muséum d'histoire naturelle,Provence-Alpes-Côte d'Azur,Alpes-Maritimes,Nice,"43.701924,7.279572"
5767,M7051,muséum d'histoire naturelle et de préhistoire,Occitanie,Gard,Nîmes,"0.0,0.0"

In [42]:
df2=df2.reset_index(drop=True)
# df2=df2.fillna(['inconnue'])
df2

,id,nom,region,dept,ville,geoloc
0,B9001,Bibliothèque de l’Assemblée Nationale,Ile-de-France,75007,"Paris, Assemblée nationale","48.86215,2.31897"
1,B9002,Bibliothèque municipale de Grasse,Provence-Alpes-Côte d'Azur,Alpes-Maritimes,Grasse,"43.65559,6.91736"
2,B9003,Bibliothèque municipale de Besançon,Bourgogne-Franche-Comté,Doubs,Besançon,"47.23649,6.0274"
3,M0003,musée du Pays de Hanau - histoire et vies d’un...,Grand Est,Bas-Rhin,Bouxwiller,"48.824977,7.482915"
4,M0008,Maison de l'Archéologie des Vosges du Nord,Grand Est,Bas-Rhin,Niederbronn-les-Bains,"48.947444,7.650428"
...,...,...,...,...,...,...
326,M7011,muséum d'histoire naturelle,Bourgogne-Franche-Comté,Doubs,Besançon,"47.236687,6.022095"
327,M7013,muséum d'histoire naturelle,Occitanie,Haute-Garonne,Toulouse,"43.594189,1.448945"
328,M7015,muséum d'histoire naturelle,Normandie,Seine-Maritime,Le Havre,"49.487552,0.108231"
329,M7050,muséum d'histoire naturelle,Provence-Alpes-Côte d'Azur,Alpes-Maritimes,Nice,"43.701924,7.279572"
330,M7051,muséum d'histoire naturelle et de préhistoire,Occitanie,Gard,Nîmes,"0.0,0.0"

In [43]:
df2

,id,nom,region,dept,ville,geoloc
0,B9001,Bibliothèque de l’Assemblée Nationale,Ile-de-France,75007,"Paris, Assemblée nationale","48.86215,2.31897"
1,B9002,Bibliothèque municipale de Grasse,Provence-Alpes-Côte d'Azur,Alpes-Maritimes,Grasse,"43.65559,6.91736"
2,B9003,Bibliothèque municipale de Besançon,Bourgogne-Franche-Comté,Doubs,Besançon,"47.23649,6.0274"
3,M0003,musée du Pays de Hanau - histoire et vies d’un...,Grand Est,Bas-Rhin,Bouxwiller,"48.824977,7.482915"
4,M0008,Maison de l'Archéologie des Vosges du Nord,Grand Est,Bas-Rhin,Niederbronn-les-Bains,"48.947444,7.650428"
...,...,...,...,...,...,...
326,M7011,muséum d'histoire naturelle,Bourgogne-Franche-Comté,Doubs,Besançon,"47.236687,6.022095"
327,M7013,muséum d'histoire naturelle,Occitanie,Haute-Garonne,Toulouse,"43.594189,1.448945"
328,M7015,muséum d'histoire naturelle,Normandie,Seine-Maritime,Le Havre,"49.487552,0.108231"
329,M7050,muséum d'histoire naturelle,Provence-Alpes-Côte d'Azur,Alpes-Maritimes,Nice,"43.701924,7.279572"
330,M7051,muséum d'histoire naturelle et de préhistoire,Occitanie,Gard,Nîmes,"0.0,0.0"

In [44]:
df.Auteur

0            BALTHASAR (dit);HAUG Hans (patronyme)
1                                   MASEREEL Frans
2                                     BRETON Jules
3                             CALANDRUCCI Giacinto
4       HUMBERT Jules Eugène;manufacture de Sèvres
                           ...
6504              BARLA Jean-Baptiste (attribué à)
6505                                           NaN
6506                                       anonyme
6507                                           NaN
6508                                   Perrot René
Name: Auteur, Length: 6509, dtype: object

In [45]:
# df.Auteur = df.Auteur.apply(lambda x: ['non renseigné'] if pd.isnull(x) else x)

In [46]:
df1[df1.Auteur.isna()]

Empty DataFrame
Columns: [ID-notice, Auteur, Titre, Dénomination, Domaine, Sujet, BASE, CONTIENT_IMAGE, Identifiant Museofile, NOMOFF, LOCA2, REGION, DPT, Ville_, POP_COORDONNEES]
Index: []

In [47]:
df1.Auteur.isna().sum()

0

In [48]:
df3=df.copy()

In [49]:
# df3.Auteur.fillna('non renseigné')
# df3.Auteur.replace(np.nan,['non renseigné'])

In [50]:
# df3[df3.Auteur.isna()]

In [51]:
import pandas as pd
import module as mod
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np
from module import *
from mod_dao import * 
import joblib as jl
import os
import mysql.connector

from dotenv import load_dotenv
from dotenv import dotenv_values

NameError: name 'cursor' is not defined

In [ ]:
config = dotenv_values(".env")
connection = mysql.connector.connect(
    user = config['USER'],
    password = config['PASSWORD'],
    host = config['HOST'],
    database = config['DB_NAME'])
cursor = connection.cursor()

In [ ]:
mySql_select_art_id = "SELECT id FROM artiste WHERE nom = %s "
aut= 'gay jacques'
try : 
    cursor.execute(mySql_select_art_id, [aut])  # recupere l'id artiste par le nom
    id_aut = cursor.fetchone()[0]
except Exception as e:
    print (e, "error select id from artiste for ", aut)
    
print(id_aut)

13

In [ ]:
del id_aut

In [ ]:
mySql_select_art_id = "SELECT id FROM artiste WHERE nom = %s "
aut= 'plop'
try : 
    cursor.execute(mySql_select_art_id, [aut])  # recupere l'id artiste par le nom
    id_aut = cursor.fetchone()[0]
except Exception as e:
    print (e, " / error select id from artiste for ", aut)
    
print(id_aut)

'NoneType' object is not subscriptable  / error select id from artiste for  plop

NameError: name 'id_aut' is not defined

In [ ]:

mySql_insert_art_oeuv = 'INSERT IGNORE INTO art_oeuv (oeuvre, artiste) VALUES(%s,%s)'
mySql_select_art_id = "SELECT id FROM artiste WHERE nom = %s "


for i in range(len(df)):
    line=df.iloc[i,:].values.tolist()
    id_oeuvre=line[0]
    auteurs = line[1]


    for aut in auteurs:
        try : 
            cursor.execute(mySql_select_art_id, [aut])  # recupere l'id artiste par le nom
            id_aut = cursor.fetchone()[0]

            try:
                cursor.execute(mySql_insert_art_oeuv,(id_oeuvre,id_aut))
            except Exception as e:
                print( e,
                    "error insert id: ",
                        id_oeuvre,id_aut
                    )
                continue

        except Exception as e:
            print (e, "error select id from artiste for ", aut)
            continue

    # finally:
connection.commit()
connection.close()

In [ ]:
artiste = "l'hoest eugène"
mySql_select_art_id = "SELECT id FROM artiste WHERE nom = %s "
cursor.execute(mySql_select_art_id, [artiste])  # recupere l'id artiste par le nom
id_aut = cursor.fetchone()[0]
id_aut

32

In [ ]:
connection

In [ ]:
connection.is_connected()

NameError: name 'connection' is not defined

AttributeError: 'CMySQLCursor' object has no attribute 'is_connected'

In [ ]:
connection.close()

In [ ]:
connection

In [ ]:
cursor.close()

False

In [ ]:
cursor

In [ ]:
config['USER']

'root'

In [ ]:
connection, cursor = new_db()
connection, cursor

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)

In [ ]:
connection

NameError: name 'connection' is not defined

In [ ]:
connection.close()

NameError: name 'connection' is not defined

In [ ]:
config = dotenv_values(".env")

In [ ]:
config

OrderedDict([('USER', 'root'),
             ('PASSWORD', 'toto'),
             ('HOST', '127.0.0.1'),
             ('DB_NAME', 'joconde')])

In [ ]:
config['PASSWORD']

'Pa$$0rd'

In [ ]:
config['USER']

'root'

In [ ]:
config['HOST']

'127.0.0.1'

In [ ]:
config['DB_NAME']

'joconde'

In [ ]:
s = ["hEllO","iNteRneT","pEopLe"]
s = list(map(lambda x: x.lower(), s))

s

['hello', 'internet', 'people']

In [ ]:
df[['ID-notice','Titre','Dénomination','Sujet','Domaine','Identifiant Museofile']]

,ID-notice,Titre,Dénomination,Sujet,Domaine,Identifiant Museofile
0,00160018055,Château de Cheverny,NaN,NaN,dessin,M0016
1,08680000588,Voisins,NaN,NaN,estampe,M0867
2,50350022175,"Autoportrait, de profil vers la droite",NaN,autoportrait,dessin,M5031
3,50350202901,"Religieuse priant agenouillée, reprises des ma...",NaN,NaN,dessin,M5031
4,50190041936,Elément décoratif [La Nature],NaN,NaN,dessin,M5019
...,...,...,...,...,...,...
6504,70500002620,Lentin écailleux ; champignon,NaN,représentation scientifique (champignon),sciences naturelles;dessin;mycologie,M7050
6505,5001MIL3645,NaN,armature;flèche,NaN,archéologie;néolithique,M5001
6506,M0332012969,Portrait d'homme,NaN,"portrait d'inconnu (homme, en buste)",dessin,M0332
6507,01720012013,NaN,fuseau,NaN,ethnologie;textile,M0172
6508,5002D000302,Paysans écartant les taupinières (titre inscrit),NaN,"Doubs d;scène (couple, outil agricole, opérati...",dessin;ethnologie,M5002

In [1]:
import pandas as pd
# import module as mod
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np
# from module import *
from mod_dao import * 
import joblib as jl
import os
import mysql.connector
from geopy.distance import geodesic

from dotenv import load_dotenv
from dotenv import dotenv_values

c:\Users\IA-Alternant\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [94]:
artiste = ['chaiSsac gaston']
artiste = list(map(lambda x: x.lower(), artiste))
nb_musee = 3
ville_depart = 'Paris'
# artiste

In [34]:
df=research_by_artiste(artiste)
df = df.set_axis(['nom_musee', 'ville', 'geoloc', 'nom_artiste', 'nom_ouevre','domain', 'id_musee'], axis=1, inplace=False)
df=df.iloc[df.groupby('nom_musee').nom_musee.transform('size').mul(-1).argsort(kind='mergesort')]
df

c:\Users\IA-Alternant\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,nom_musee,ville,geoloc,nom_artiste,nom_ouevre,domain,id_musee
3,musée des Beaux-Arts,Nantes,"47.219276,-1.547096",chaissac gaston,Personnage,dessin,M0743
4,musée des Beaux-Arts,Nantes,"47.219276,-1.547096",chaissac gaston,Bêtes et oiseaux,dessin,M0743
5,musée des Beaux-Arts,Nantes,"47.219276,-1.547096",chaissac gaston,Oiseau,dessin,M0743
6,musée des Beaux-Arts,Nantes,"47.219276,-1.547096",chaissac gaston,Bouquet,peinture,M0743
7,musée des Beaux-Arts,Nantes,"47.219276,-1.547096",chaissac gaston,La Sainte Trinité,dessin,M0743
8,musée des Beaux-Arts,Nantes,"47.219276,-1.547096",chaissac gaston,L'homme punaise,dessin,M0743
9,musée des Beaux-Arts,Nantes,"47.219276,-1.547096",chaissac gaston,La danse du singe,dessin,M0743
11,musée de Grenoble,Grenoble,"45.194026,5.732094",chaissac gaston,Sans titre ; Composition abstraite cloisonnièr...,dessin,M0994
12,musée de Grenoble,Grenoble,"45.194026,5.732094",chaissac gaston,Sans titre ; Tête à la bouche cousue (Titre at...,dessin,M0994
13,musée de Grenoble,Grenoble,"45.194026,5.732094",chaissac gaston,Sans titre ; Personnage à tête triangulaire (T...,dessin,M0994
14,musée de Grenoble,Grenoble,"45.194026,5.732094",chaissac gaston,Sans titre ; Personnage cloisonné (Titre attri...,dessin,M0994
0,musée d'art moderne et contemporain de Strasbourg,Strasbourg,"48.579654,7.736231",chaissac gaston,Histoire d'un vacher,dessin,M0016
1,musée Greuze - hôtel-Dieu,Tournus,"46.562137,4.910839",chaissac gaston,Empreintes de semelles et talons de chaussure,dessin,M0181
2,musée d'art contemporain du Val-de-Marne,Vitry-sur-Seine,"48.792821,2.387072",chaissac gaston,Personnage debout,dessin,M0431
10,musée d'Art Moderne et d'Art Contemporain,Nice,"0.0,0.0",chaissac gaston,Collage,dessin,M0888

In [37]:
df2 = df[['id_musee','geoloc']].drop_duplicates()
df2

   id_musee               geoloc
3     M0743  47.219276,-1.547096
11    M0994   45.194026,5.732094
0     M0016   48.579654,7.736231
1     M0181   46.562137,4.910839
2     M0431   48.792821,2.387072
10    M0888              0.0,0.0

In [99]:
df3= df.groupby(['id_musee','nom_musee','geoloc','ville']).count().sort_values('domain',ascending=False)['domain'].reset_index().rename(columns={'domain':'count'})
df3

,id_musee,nom_musee,geoloc,ville,count
0,M0743,musée des Beaux-Arts,"47.219276,-1.547096",Nantes,7
1,M0994,musée de Grenoble,"45.194026,5.732094",Grenoble,4
2,M0016,musée d'art moderne et contemporain de Strasbourg,"48.579654,7.736231",Strasbourg,1
3,M0181,musée Greuze - hôtel-Dieu,"46.562137,4.910839",Tournus,1
4,M0431,musée d'art contemporain du Val-de-Marne,"48.792821,2.387072",Vitry-sur-Seine,1
5,M0888,musée d'Art Moderne et d'Art Contemporain,"0.0,0.0",Nice,1

In [100]:
df3=df3.iloc[:nb_musee,:]
df3

,id_musee,nom_musee,geoloc,ville,count
0,M0743,musée des Beaux-Arts,"47.219276,-1.547096",Nantes,7
1,M0994,musée de Grenoble,"45.194026,5.732094",Grenoble,4
2,M0016,musée d'art moderne et contemporain de Strasbourg,"48.579654,7.736231",Strasbourg,1

In [98]:
for i in range(1,nb_musee):
    df3.loc[i,'distance'] = int(geodesic(tuple(df3.loc[i,'geoloc'].split(',')),tuple(df3.loc[i-1,'geoloc'].split(','))).kilometers)
df3

  id_musee               geoloc       ville  count  distance
0    M0743  47.219276,-1.547096      Nantes      7       NaN
1    M0994   45.194026,5.732094    Grenoble      4     604.0
2    M0016   48.579654,7.736231  Strasbourg      1     406.0

In [93]:
df3

  id_musee               geoloc     ville  count  distance
0    M0743  47.219276,-1.547096    Nantes      7       NaN
1    M0994   45.194026,5.732094  Grenoble      4     604.0

In [76]:
a = df3.loc[1,'geoloc']
a

'45.194026,5.732094'

In [79]:
tuple(a.split(','))

('45.194026', '5.732094')

In [83]:
from geopy.distance import geodesic

geodesic(newport_ri, cleveland_oh).kilometers

866.4554329098688

In [38]:
for g in df2.geoloc:
    print(g)

47.219276,-1.547096
45.194026,5.732094
48.579654,7.736231
46.562137,4.910839
48.792821,2.387072
0.0,0.0

In [ ]:
get_geoloc(ville_depart)

In [29]:
df2 = df.copy()

In [32]:
df2=df2.iloc[df.groupby('nom_musee').nom_musee.transform('size').mul(-1).argsort(kind='mergesort')]
df2

,nom_musee,ville,geoloc,nom_artiste,nom_ouevre,domain,id_musee
3,musée des Beaux-Arts,Nantes,"47.219276,-1.547096",chaissac gaston,Personnage,dessin,M0743
4,musée des Beaux-Arts,Nantes,"47.219276,-1.547096",chaissac gaston,Bêtes et oiseaux,dessin,M0743
5,musée des Beaux-Arts,Nantes,"47.219276,-1.547096",chaissac gaston,Oiseau,dessin,M0743
6,musée des Beaux-Arts,Nantes,"47.219276,-1.547096",chaissac gaston,Bouquet,peinture,M0743
7,musée des Beaux-Arts,Nantes,"47.219276,-1.547096",chaissac gaston,La Sainte Trinité,dessin,M0743
8,musée des Beaux-Arts,Nantes,"47.219276,-1.547096",chaissac gaston,L'homme punaise,dessin,M0743
9,musée des Beaux-Arts,Nantes,"47.219276,-1.547096",chaissac gaston,La danse du singe,dessin,M0743
11,musée de Grenoble,Grenoble,"45.194026,5.732094",chaissac gaston,Sans titre ; Composition abstraite cloisonnièr...,dessin,M0994
12,musée de Grenoble,Grenoble,"45.194026,5.732094",chaissac gaston,Sans titre ; Tête à la bouche cousue (Titre at...,dessin,M0994
13,musée de Grenoble,Grenoble,"45.194026,5.732094",chaissac gaston,Sans titre ; Personnage à tête triangulaire (T...,dessin,M0994
14,musée de Grenoble,Grenoble,"45.194026,5.732094",chaissac gaston,Sans titre ; Personnage cloisonné (Titre attri...,dessin,M0994
0,musée d'art moderne et contemporain de Strasbourg,Strasbourg,"48.579654,7.736231",chaissac gaston,Histoire d'un vacher,dessin,M0016
1,musée Greuze - hôtel-Dieu,Tournus,"46.562137,4.910839",chaissac gaston,Empreintes de semelles et talons de chaussure,dessin,M0181
2,musée d'art contemporain du Val-de-Marne,Vitry-sur-Seine,"48.792821,2.387072",chaissac gaston,Personnage debout,dessin,M0431
10,musée d'Art Moderne et d'Art Contemporain,Nice,"0.0,0.0",chaissac gaston,Collage,dessin,M0888

In [101]:
df3

,id_musee,nom_musee,geoloc,ville,count
0,M0743,musée des Beaux-Arts,"47.219276,-1.547096",Nantes,7
1,M0994,musée de Grenoble,"45.194026,5.732094",Grenoble,4
2,M0016,musée d'art moderne et contemporain de Strasbourg,"48.579654,7.736231",Strasbourg,1

id_musee
nom_musee
geoloc
ville
count

In [105]:
for i in range(1,2):
    print( i)

1

In [26]:
df2 = df.groupby('id_musee').count().sort_values('nom_ouevre',ascending=False)
df2

KeyError: 'id_musee'

In [21]:
import pandas as pd
n = 100
df = pd.DataFrame(index=pd.Index(range(1, n+1), name='gridimage_id'))
df['user_id'] = 2
df['has_term'] = True
df.iloc[:10, 0] = 1

In [24]:
df

              user_id  has_term
gridimage_id
1                   1      True
2                   1      True
3                   1      True
4                   1      True
5                   1      True
...               ...       ...
96                  2      True
97                  2      True
98                  2      True
99                  2      True
100                 2      True

[100 rows x 2 columns]

In [25]:
df.iloc[df.groupby('user_id').user_id.transform('size').argsort(kind='mergesort')]

              user_id  has_term
gridimage_id
1                   1      True
2                   1      True
3                   1      True
4                   1      True
5                   1      True
...               ...       ...
96                  2      True
97                  2      True
98                  2      True
99                  2      True
100                 2      True

[100 rows x 2 columns]

In [18]:
df.iloc[df.groupby('user_id').user_id.transform('size').argsort(kind='mergesort')]

KeyError: 'id_musee'

In [15]:
df.iloc[df.groupby('id_musee').id_musee.transform('nom_ouevre').argsort(kind='mergesort')]

ValueError: 'nom_ouevre' is not a valid function name for transform(name)

In [17]:
df

              user_id  has_term
gridimage_id
1                   1      True
2                   1      True
3                   1      True
4                   1      True
5                   1      True
...               ...       ...
96                  2      True
97                  2      True
98                  2      True
99                  2      True
100                 2      True

[100 rows x 2 columns]

In [7]:
df2=df.groupby('nom').count()

ValueError: Grouper for 'nom' not 1-dimensional